.CustomDateRange .react-datepicker-wrapper {
  width: 100%;
}

.CustomDateRange .react-datepicker-popper {
  z-index: 1000;
}

.CustomDateRange .react-datepicker__header {
  background-color: white;
  border: none;
}

.CustomDateRange .react-datepicker__current-month {
  padding: 0.6rem 1.35rem;
}

.CustomDateRange .react-datepicker__day--keyboard-selected {
  color: rgba(0, 0, 0, 0.7);
  background-color: #fff;
}

.CustomDateRange .react-datepicker__day-name,
.CustomDateRange .react-datepicker__day {
  margin: 0.1rem 0;
  height: 2.2rem;
  width: 2.2rem;
  line-height: 2.2rem;
  border-radius: 0;
  border: none;
  outline: none;
  user-select: none;
}
.CustomDateRange .react-datepicker__day:hover {
  background-color: #039869de;
  color: #fff;
}

.CustomDateRange .react-datepicker__day--selected {
  background-color: #23614dde !important;
  border-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* .CustomDateRange .react-datepicker__day--selected::before {
  background-color: #23614dde;
  content: "";
  display: inline-block;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 1.05rem;
  margin-left: -0.59rem;
  position: absolute;
  color: white;
} */

.CustomDateRange .react-datepicker__day--in-selecting-range {
  background-color: #039869de;
}

.CustomDateRange .react-datepicker__day--in-range {
  background-color: #039869de;
}

.CustomDateRange .react-datepicker__day--range-end {
  background-color: #23614dde;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
}

.CustomDateRange .react-datepicker__day--range-start {
  background-color: #23614dde;
  border-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.CustomDateRange .react-datepicker__day--outside-month {
  opacity: 0.5;
}

.CustomDateRange .react-datepicker__navigation--next {
  top: 24px;
  border-left-color: #039869de;
}

.CustomDateRange .react-datepicker__navigation--previous {
  top: 24px;
  border-right-color: #039869de;
}
