/* global styles which can't be handled via styled comps should come here */

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  background-size: "cover";
}

#root,
#root > div {
  width: 100%;
  height: 100%;
}
